<h2><%= reward.name %></h2>
<img height="150" width="100" src="<%= reward.coverImagePath %>" alt="">
<div>Price: <%= reward.cost %> 💯</div>
<div>Description: <%= reward.description %></div>

<form action="/rewards/<%= reward.id %>/buy" method="POST">
    <div>
        <label>Executor</label>
        <select name="executor">
            <% for (var i = 0; i < users.length; i++) { %>
                <% const usr = users[i] %>
                <% if (user && user.id === usr.id ) continue; %>
                <% if (i === 0) { %> 
                    <option selected value="<%= usr.id %>"><%= usr.userName %></option>
                <% } else { %> 
                    <option value="<%= usr.id %>"><%= usr.userName %></option>
                <% } %> 
            <% } %> 
        </select>
    </div>

    <button type="submit">Buy</button>
</form>

<a href="/rewards/<%= reward.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/rewards/${reward.id}`}) %>
